<html>
  <head>
    <% include head %>
  </head>
  
  <body>
    <div class="links">
        <a id="lotteries" href="#" class="large-link">Lotteries</a>
        <a id="raffles" href="#" class="large-link">Raffles</a>
    </div>
    <div id="js-grid"></div>
      
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span id ="modal-close" class="close">×</span>
                <h2 id="modal-title"></h2>
            </div>
            <table id="modal-table" class="modal-table"></table>
        </div>
    </div>
  </body>
</html>